@media (max-width: 320px) {

body {
  font-size: 12px;
  font-family: "Gill Sans" sans-serif;
}
/*1220px*450px*/

body#home {
  background: #000;
  font-color: #F2F1F1;
  margin:0;
  padding: 0;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

div > a{
  text-decoration: none;
}


.res,.mag,.por,.pai {
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
  width: 158px;
  height: 280px;
  padding: 0;
  list-style: none;
}

.res {
  background-color: #FAAC58;
  float: left;
}


.mag {
  background-color: rgb(249,138,126);
  float: right;
}

.por {

  background-color: rgb(179,219,85);
  float: left;
}

.pai {

  background-color: rgb(126,191,247);
  float: right;
}


div > a:visited {
  color: #F2F1F1;
}

div > a:hover {
  color: white;
}


#yellow-box,
#green-box {
  width: 127px;
  height: 38px;
}

#red-box,
#blue-box {
  width: 121px;
  height: 38px;
}


#yellow-box {
  background: #FF8000;
  position: absolute;
  bottom: 0;
  right: 0;
}

#yellow-box a {
  position: absolute;
  bottom: 7px;
  right: 7px;
  font-size: 20px;
}


#red-box {
  background: rgb(212,51,55);
  position: absolute;
  bottom: 0;
  left: 0;
}

#red-box a {
  position: absolute;
  bottom: 7px;
  left: 7px;
  font-size: 20px;
}

#green-box {
  background: rgb(43,90,20);
  position: absolute;
  top: 0;
  right: 0;
}

#green-box a {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 20px;
}

#blue-box {
  background: rgb(12,107,197);
  position: absolute;
  top: 0;
  left: 0;
}

#blue-box a {
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 20px;
}


body#resume {
  background:#F7F2E0;
  font-family:"Minion Pro", serif;
  color:#585858;
  margin: 0;
}



#resume header {
  text-align: left;
  font-family: "Myriad Pro";
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}


li > a {
  display: inline-block;
  padding: 6px;
  text-decoration: none;
  color: #FBF8EF;
}


#resume h1{
  font-weight: 100;
  color: #FBF8EF;
  border: 1px solid #FF8000;
  background: #FF8000;
  padding-top: 7px;
  padding-left: 7px;
  font-size: 50px;
}

.education {
  display: block;
  float: none;
  clear: both;
  margin-top: -80px;
  margin-left:15px;
  padding-bottom: 10px;
  font-size: 15px;
  width: 300px;
}

h4,
p {
  margin:0;
}

.contact{
  display:block;
  float: none;
  clear: both;
  margin-left:15px;
  width: 300px;
  font-size: 15px;
}

.work {
  display: block;
  float: none;
  clear: both;
  padding-bottom: 10px;
  margin-left:15px;
  width: 300px;
  font-size: 15px;
}


.organizations {
  float: none;
  clear: both;
  padding-bottom: 10px;
  margin-left:15px;
  width: 300px;
  font-size: 15px;
}

.organizations article {
  margin-bottom:16px;
}

.skills{
  display: block;
  clear:both;
  float:none;
  margin-left:15px;
  width: 300px;
  font-size: 15px;

}

h3{
  font-size: 1.45em;
  color:#FF8000;
}

#title1, #title2, #title3, #title4, #title5, #title6, #title7, #title8, #title9 {
  color:#FAAC58;
}

img {
  width: 80%;
  height: 80%;
}


body#portfolio {
  background: rgb(179,219,85);
  font-family: "Minion Pro", serif;
  margin:0;
}


#portfolio header {
  text-align: left;
  font-family: "Myriad Pro";
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

#portfolio h1{
  font-weight: 100;
  color: #FBF8EF;
  border: 1px solid rgb(43,90,20);
  background: rgb(43,90,20);
  padding-top: 7px;
  padding-left: 7px;
  font-size: 50px;
}


body#magazine{
  background: rgb(249,138,126);
  font-family: "Minion Pro", serif;
  margin:0;
  width: 320px;
  position: relative;

}


#magazine header {
  text-align: left;
  font-family: "Myriad Pro";
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

#magazine h1{
  font-weight: 100;
  color: #FBF8EF;
  border: 1px solid rgb(212,51,55);
  background: rgb(212,51,55);
  padding-top: 7px;
  padding-left: 7px;
  font-size: 50px;
}

body#paintings {
  background: rgb(126,191,247);
  font-family: "Minion Pro", serif;
  margin:0;
}


#paintings header {
  text-align: left;
  font-family: "Myriad Pro";
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

#paintings h1{
  font-weight: 100;
  color: #FBF8EF;
  border: 1px solid rgb(12,107,197);
  background: rgb(12,107,197);
  padding-top: 7px;
  padding-left: 7px;
  font-size: 50px;
}

.gopai,.gopor,.gomag,.gores,.gohome {
  color: #ccc;
  width: 60px;
  list-style: none;
  margin-top: 50px;
  margin-left: 0px;
  display: inline-block;

}



.gopai {
  background: rgb(126,191,247);
  float: right;
  padding: 1px;

}
.gopor {
  background: rgb(179,219,85);
  float: right;
  padding: 1px;

}
.gomag {
  background: rgb(249,138,126);
  float: right;
  padding: 1px;
}

.gores {
  background: #FAAC58;
  float: right;
  padding: 1px;
}

.gohome {
  background: #000;
  width:75px;
  margin-left:-30px;
  float: right;
  padding: 1px;

}

.mag1 {
  margin-left: 30px;
  padding-bottom:20px;
  margin-top: -100px;
  float: none;
  clear: both;

}

.aboutmag {
  margin-top:-25px;
  margin-left: 30px;
  padding: 10px;
  float: left;
  width: 212px;
  height: 400px;
  font-family: "Gill Sans" sans-serif;
  font-size: 15px;
  background: #F6CECE;
}



.mag2, .mag3, .mag4, .mag5 {
  display: none;
}

#por1 {
  padding-left: 50px;
  float: none;
}


.aboutpor {
  background: #ECF8E0;
  padding: 10px;
  margin-left: 50px;
  margin-right: 0px;
  font-family: "Gill Sans" sans-serif;
  font-size: 15px;
  width: 196px;
  height: 315px;
}


.top {
  clear: both;
  overflow: hidden;
}




#por2, #por3, #por4, #por5, #por6 {
  padding-left: 50px;
  padding-top: 30px;
}

#por2 {
  float: left;
}

#por4 {
  float: left;

}



#landscape {
  padding-left: 45px;
  float: none;
  clear: both;
  width: 90%;
  height: auto;
}


.aboutlan {
  padding: 10px;
  margin-left:45px;
  margin-right: 0px;
  margin-top: -35px;
  font-size: 15px;
  font-family: "Gill Sans" sans-serif;
  background:#CEE3F6;
  width: 210px;
}

#animal {
  padding-left: 45px;
  float: none;
  width: 90%;
  height: auto;
}

.aboutani {
  padding: 10px;
  padding-top: 50px;
  margin-left:45px;
  margin-right: 0px;
  margin-top: -80px;
  margin-bottom: 30px;
  font-size: 15px;
  font-family: "Gill Sans" sans-serif;
  background:#CEE3F6;
  width: 210px;
  height: 2px;
}

.h {
  font-size: 50px;
  padding-left: 520px;
}

#pdf1 {
  color: rgb(212,51,55);
  float: right;

  padding: 30px;

}

#pdf2 {
  color: rgb(43,90,20);
  float: right;
  padding: 30px;
}

}
