html {
  color: #000000;
  font-size: 16px;
  background:#FFFFFF;
  font-family:"Minion Pro", serif;
}

body {
  font-family:"Minion Pro";
  color:#000000;
  font: 13px;
  margin: auto;
  display: block;
  width: 950px;
}

.doc {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

nav {
  display:none;
}

#container {
  width: 950px;
  margin: 0 auto;
}

header {
  text-align: left;
  font-family: "Myriad Pro";
  font-size: 1.5em;
  margin: 2px;
  padding: 1px;
}

#education a:visited {
  color: #000000;
}

h1{
  font-weight: 100;
  padding-top: 7px;
  padding-left: 7px;
}

#education {
  display: block;
  float: left;
  padding-bottom: 10px;
  font-size: 16px;
  width: 475px;
}

h4,
p {
  margin:0;
}

#contact {
  display:block;
  float: right;
  width: 475px;
}

#work {
  display: block;
  float: left;
  clear: left;
  padding-bottom: 10px;
  font-size: 16px;
  width: 475px;
}


#organizations {
  float: right;
  padding-bottom: 10px;
  font-size: 16px;
  width: 475px;
}

#organizations article {
  margin-bottom:16px;
}

#skills {
  display: block;
  clear:none;
  float:right;
  width: 475px;

}

h3 {
  font-size: 1.45em;
}
