html {
 color: #585858;
 font-size: 16px;
 background:#F7F2E0;
 font-family:"Minion Pro", serif;
}

body {
  font-family:"Minion Pro";
  color:#585858;
  font: 13px;
  margin: 0;
  display: block;
}

#container {
  width: 950px;
  margin: 0 auto;

}

header {
  text-align: left;
  font-family: "Myriad Pro";
  font-size: 1.5em;
  margin: 2px;
  padding: 1px;
}


nav ul li {
  display: inline-block;
  font-size:110%;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#education a:visited {
 color: #585858;
}

li > a {
  display: inline-block;
  padding: 6px;
  background: #FAAC58;
  border: 1px solid #F7F2E0;
  text-decoration: none;
  color: #FBF8EF;
}


h1{
  font-weight: 100;
  color: #FBF8EF;
  border: 1px solid #FF8000;
  background: #FF8000;
  padding-top: 7px;
  padding-left: 7px;
}

#education {
  display: block;
  float: left;
  padding-bottom: 10px;
  font-size: 16px;
  width: 475px;
}

h4,
p {
  margin:0;
}

#contact{
  display:block;
  float: right;
  width: 475px;
}

#work {
  display: block;
  float: left;
  clear: left;
  padding-bottom: 10px;
  font-size: 16px;
  width: 475px;
}


#organizations {
  float: right;
  padding-bottom: 10px;
  font-size: 16px;
  width: 475px;
}

#organizations article {
  margin-bottom:16px;
}

#skills{
  display: block;
  clear:none;
  float:right;
  width: 475px;

}

h3{
  font-size: 1.45em;
  color:#FF8000;
}

#title1, #title2, #title3, #title4, #title5, #title6 {
  color:#FAAC58;
}
